{% extends "base.html" %}
{% block title %}Todo 一覧{% endblock %}

{%block content %}
    <h1 class="mb-4">Todo 一覧</h1>

    <ul class="list-group">
        {% for todo in todos %}
            <li class="list-group-item d-flex justify-content-between align-item-center">
                <a href="{% url 'todo_detail' todo.pk %}">
                    {{ todo.title }} - {{ todo.user.username}} -
                </a>
                <span class="badge {% if todo.is_completed %}bg-success{% else %}bg-warning text-dark{% endif %}"></span>
            </li>
        {% empty %}
            <li class="list-group-item">まだ Todo がありません。</li>
        {% endfor %}
    </ul>
{% endblock %}